services:
  comfyui:
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - .:/root/ComfyUI/custom_nodes/comfyui_rusty_nodes
    working_dir: /root/ComfyUI/custom_nodes/comfyui_rusty_nodes
    ports:
      - "8188:8188"
    command: sh -c "python3 install.py && bash /runner-scripts/entrypoint.sh"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
